<button id="button">現在地を取得する</button><br>
<input id="address" type="textbox">
<input type="button" value="検索" onclick="codeAddress()">
<div id='map'></div>

<%= form_with model: @post, url: posts_path, local:true do |f| %>
  <div class="actions">
    <%= f.label :message,"メッセージ：" %>
    <%= f.text_field :message %><br>
    <%= f.label :latitude,"緯度：" %>
    <%= f.text_field :latitude, id: :lat %><br>
    <%= f.label :longitude,"経度：" %>
    <%= f.text_field :longitude, id: :lng %><br>
    <%= f.submit '投稿する' %>
  </div>
<% end %>

<style>
#map {
  height: 600px;
  width: 600px;
}
</style>

<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: 35.6803997, lng:139.7690174},
    zoom: 15,

  });
}

// 現在地の取得
const $button = document.getElementById('button');

$button.addEventListener('click', function() {
  $button.innerText = "取得中...";
  navigator.geolocation.getCurrentPosition(success, error);
});

function success(pos) {
  const crd = pos.coords;
  document.getElementById('lat').value = crd.latitude;
  document.getElementById('lng').value = crd.longitude;
  
  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: crd.latitude, lng:crd.longitude},
    zoom: 15,
  });
  marker = new google.maps.Marker({
    map: map,
    position:  {lat: crd.latitude, lng:crd.longitude},
  });

  $button.innerText = '現在地を再取得する';
}

// エラーが発生したときの処理
function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
  $button.innerText = '現在地を取得する';
}


//検索での緯度経度取得
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {

        if (aft == true){
            marker.setMap(null);
        }


        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true
        });

        aft = true

        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        google.maps.event.addListener( marker, 'dragend', function(ev){
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

</script>